.mainsection {
  color: rgb(0, 0, 0);

  .maintext {
    h2.firsttext {
      font-weight: 100;
    }
    h2.secondtext {
      font-weight: 500;
    }
  }
  img {
    width: 90%;
    height: auto;
  }
}
