.footer {
  .components {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 249, 255);
    opacity: 0.8;

    img {
      width: 2.25rem;
      height: 2.25rem;
      position: relative;
      display: block;
    }
    p {
      display: flex;
      font-size: 16px;
    }
    .column {
      align-items: center;
      display: flex;
      .text {
        color: rgb(0, 45, 135);
        margin-left: 0.25rem;
      }
    }
  }
}
@media all and (min-width: 240px) and (max-width: 590px) {
  .components {
    flex-direction: column;
    justify-content: stretch;
  }
}
