.footer {
  display: flex;
  flex-direction: row;

  .components {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    background-color: rgb(240, 249, 255);
    opacity: 0.8;

    img {
      width: 2.25rem;
      height: 2.25rem;
      position: relative;
      display: block;
    }

    p {
      display: flex;
      margin-inline-end: 100px;
      font-size: 16px;
    }

    .column {
      padding: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      align-items: center;
      display: flex;

      .text {
        color: rgb(0, 45, 135);
        margin-left: 0.25rem;
      }
    }
  }
}
