.flex_container {
  display: flex;
  gap: 50px;

  background: url(".//assets/woman.jpg") no-repeat 45%;
  background-size: cover;
}

@media all and (min-width: 768px) {
  .flex_container {
    width: auto;
    flex-direction: column;
    background-size: cover;
    background-position: 40%;
  }
}

@media all and (min-width: 600px) {
  .flex_container {
    flex-direction: column;
    flex-direction: column;
    background-size: cover;
    background-position: 35%;
  }
  .sectionone {
    align-self: flex-end;
  }
}

@media all and (min-width: 240px) and (max-width: 590px) {
  .flex_container {
    width: fit-content;
    flex-direction: column;

    font-size: 3vw;

    background-position: top;
    background-size: contain;
  }
  .sectionone {
    order: 2;
    text-align: center;
  }
  .sectiontwo {
    order: 1;
    align-self: flex-end;
  }
  .sectionthird {
    order: 3;
  }
}
